@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans|Playfair+Display');

*{
    margin: 0 auto;
    padding: 0;
}


.container_into {   
    height: 100vh;    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.img_intro {    
    text-align: center;
    
}


.img_intro img {
    margin-bottom: 32px; 
}

h1.title{
    font-size: 52px;
    font-family: 'Black Han Sans', sans-serif;
    color: #000;
}

p.subtitle{
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size:17px;
    color: #000;
}

ul {
    list-style-type: none;
    position: fixed;
    margin: 4px;
    padding: 0;
    overflow: hidden;    
}

li {
    float: right;
}

li a {
    display: inline-block;
    color: #000;
    text-align: center;
    padding: 14px 16px !important;
    text-decoration: none;
    font-family: 'Black Han Sans', sans-serif;
}

li a:hover {
    background-color: #111;
    color: #fff;
    text-decoration: underline #fff;
}


