@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans|Playfair+Display');

*{
    margin: 0 auto;
    padding: 0;
}


.green{
    background-color: #4CAF50;
    color:#fff;    
}

.red{
    background-color: #F44336;
    color:#fff;    
}

.container {
    height: 100vh;            
}

.intro {   
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.center {    
    text-align: center;    
}


.img_intro img {
    margin-bottom: 32px; 
}

h1.title{
    font-size: 45px;
    font-family: 'Black Han Sans', sans-serif;
    color: #000;
}

p.subtitle{
    font-family: 'Playfair Display', serif;
    font-style: italic;
    text-align: center;
    font-size:16px;
    color: #000;
}

ul {
    list-style-type: none;
    position: fixed;
    margin: 4px;
    padding: 0;
    overflow: hidden;    
}

li {
    float: right;
}

li a {
    display: inline-block;
    color: #000;
    text-align: center;
    padding: 14px 16px !important;
    text-decoration: none;
    font-family: 'Black Han Sans', sans-serif;
}

li a:hover {
    background-color: #111;
    color: #fff;
    text-decoration: underline #fff;
}


.container_skill {
    width: 100%;
    background-color: #ddd;
    box-sizing: border-box;
  }
  
  .skills {
    text-align: right;
    padding-right: 20px;
    line-height: 40px;
    color: white;
    box-sizing: border-box;
  }
  
  .html {width: 90%; background-color: #4CAF50;}
  .css {width: 80%; background-color: #2196F3;}
  .js {width: 65%; background-color: #f44336;}
  .php {width: 60%; background-color: #808080;}